# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# PyCharm
.idea/

# FAISS Index
faiss_index/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db

data/